/*Variables*/
// 
// sans-serif;
// 
// sans-serif;
// 
// $color-two: #fdcb6e;
// $color-three: #fd79a8;
$text-color: #777;
$section-title-color:#222222;
$color-light: #fff;
$color-one: #fed136;
$font-title: 'Raleway',
sans-serif;
$font-text: 'Open Sans',
sans-serif;

/*Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-text;
    font-size: 16px;
}

a {
    text-decoration: none;
    display: block;
    color: $color-light;
    transition: .3s;
}

h1,
h2,
.btn {
    margin: 4%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-title;
}

section {
    margin: 8% auto;
    max-width: 1300px;
}

.section-title {
    text-align: center;
    margin-bottom: 2%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: $section-title-color;
}

.section-subtitle {
    padding-bottom: 5%;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    color: $text-color;
}

section > .container {
    margin-top: 5%;
}

h5 {
    margin-bottom: 3%;
    font-size: 18px;
    font-weight: 700;
    color: $section-title-color;
}

/*Header*/

.splash {
    background-image: url("https://images.pexels.com/photos/163194/old-retro-antique-vintage-163194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
    color: $color-light;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
    }

    .splash-inner {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .page-subtitle {
            font-size: 40px;
            font-weight: 200;
            font-style: italic;
            text-align: center;
            letter-spacing: -1px;
        }

        .page-title {
            font-size: 75px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
        }

        .btn {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            background-color: $color-one;
            text-align: center;
            width: 240px;
            height: 65px;
            line-height: 65px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 5%;
            transition: .3s;

            &:hover {
                transform: translateX(-50%) scale(1.2);
            }
        }
    }
}

.container {
    padding-top: 2%;

    .navigation {
        z-index: 1;

        ul {
            text-align: right;

            li {
                display: inline-block;
                list-style: none;
                margin: 2%;
            }
        }
    }

    li a:hover {
        color: #fed136;
    }

    .logo {
        z-index: 1;

        a {
            font-family: 'Dancing Script', cursive;
            cursor: pointer;
            color: $color-one;
            font-size: 34px;
        }
    }
}

/*Services*/

.services {
    .row {
        justify-content: space-around;
        .service {
            padding: 3%;
            text-align: center;
            position: relative;
            p {
                font-size: 14px;
                color: $text-color;
                line-height: 1.6;
            }
        }
    }
}

.service .icon {
    position: absolute;
    top: -35%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 3px solid $color-one;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
        color: $color-one;
    }
}

/*Our portfolio*/
.portfolio{
    background-color: #f7f7f7;
    max-width: 1400px;
    padding-bottom: 5%;
    margin-bottom: 0;
    
    .section-title{
        padding-top: 8%;
    }
    .container{
        padding-top: 0;
        .row {
            justify-content: space-around;
            align-content: space-around;
        }
}
}
.project {
    height: 390px;
    margin-bottom: 5%;
    
    .image {
        height: 300px;
        width: 100%;
        position: relative;
       &::after{
           content: "";
           position: absolute;
           left: 0;
           top: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(254, 209, 54, .2);
       }
       img {
           width: 100%;
           height: 100%;
           object-fit: cover;
       }
    }

    .work-description {
     background-color: #fff;
     text-align: center;
     padding: 5% 0;
     h6 {
        color: $text-color;
        font-style: italic;
        font-size: 15px;
     }
    }
}

/*Footer*/
.page-footer {
    .container {
        padding-top: 0;
        .row {
            justify-content: space-around;
            align-content: center;
        }
    }
}

.page-footer {
    margin: 2% 0;
    .sign {
        display: flex;
        margin: auto auto;
        p{
            font-size: 14px;
            color: $text-color;
            font-weight: 700;
        }
    }
    
    ul{
        list-style: none;
        display: flex;

        li{
            margin-left: 2%;
            font-size: 0;
            width: 40px;
            height: 40px;
            font-size: 0;
            background-color: $section-title-color;
            border-radius: 50%;
            text-align: center;
            transition: .3s all;
            &:hover {
                transform: scale(1.2);
            }

            i {
                font-size: 20px;
                line-height: 40px;
                color: #fff;
            }
        }
    }
}


