/*Variables*/
/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  display: block;
  color: #fff;
  transition: .3s;
}

h1,
h2,
.btn {
  margin: 4%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

section {
  margin: 8% auto;
  max-width: 1300px;
}

.section-title {
  text-align: center;
  margin-bottom: 2%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #222222;
}

.section-subtitle {
  padding-bottom: 5%;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  color: #777;
}

section > .container {
  margin-top: 5%;
}

h5 {
  margin-bottom: 3%;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
}

/*Header*/
.splash {
  background-image: url("https://images.pexels.com/photos/163194/old-retro-antique-vintage-163194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
  color: #fff;
}

.splash::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.splash .splash-inner {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.splash .splash-inner .page-subtitle {
  font-size: 40px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  letter-spacing: -1px;
}

.splash .splash-inner .page-title {
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.splash .splash-inner .btn {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  background-color: #fed136;
  text-align: center;
  width: 240px;
  height: 65px;
  line-height: 65px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  transition: .3s;
}

.splash .splash-inner .btn:hover {
  transform: translateX(-50%) scale(1.2);
}

.container {
  padding-top: 2%;
}

.container .navigation {
  z-index: 1;
}

.container .navigation ul {
  text-align: right;
}

.container .navigation ul li {
  display: inline-block;
  list-style: none;
  margin: 2%;
}

.container li a:hover {
  color: #fed136;
}

.container .logo {
  z-index: 1;
}

.container .logo a {
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
  color: #fed136;
  font-size: 34px;
}

/*Services*/
.services .row {
  justify-content: space-around;
}

.services .row .service {
  padding: 3%;
  text-align: center;
  position: relative;
}

.services .row .service p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
}

.service .icon {
  position: absolute;
  top: -35%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 3px solid #fed136;
}

.service .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #fed136;
}

/*Our portfolio*/
.portfolio {
  background-color: #f7f7f7;
  max-width: 1400px;
  padding-bottom: 5%;
  margin-bottom: 0;
}

.portfolio .section-title {
  padding-top: 8%;
}

.portfolio .container {
  padding-top: 0;
}

.portfolio .container .row {
  justify-content: space-around;
  align-content: space-around;
}

.project {
  height: 390px;
  margin-bottom: 5%;
}

.project .image {
  height: 300px;
  width: 100%;
  position: relative;
}

.project .image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 209, 54, 0.2);
}

.project .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .work-description {
  background-color: #fff;
  text-align: center;
  padding: 5% 0;
}

.project .work-description h6 {
  color: #777;
  font-style: italic;
  font-size: 15px;
}

/*Footer*/
.page-footer .container {
  padding-top: 0;
}

.page-footer .container .row {
  justify-content: space-around;
  align-content: center;
}

.page-footer {
  margin: 2% 0;
}

.page-footer .sign {
  display: flex;
  margin: auto auto;
}

.page-footer .sign p {
  font-size: 14px;
  color: #777;
  font-weight: 700;
}

.page-footer ul {
  list-style: none;
  display: flex;
}

.page-footer ul li {
  margin-left: 2%;
  font-size: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: #222222;
  border-radius: 50%;
  text-align: center;
  transition: .3s all;
}

.page-footer ul li:hover {
  transform: scale(1.2);
}

.page-footer ul li i {
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}
